<form *ngIf="groupForm" class="form-horizontal validated-form" [formGroup]="groupForm" (ngSubmit)="saveGroup()" novalidate autocomplete="off">

  <pre *ngIf="environment.debug_log">{{ group | json }}</pre>

  <!-- Error -->
  <div *ngIf="invalidForm">
    <div class="col-lg-12 alert alert-danger">
      Votre formulaire est invalide. Merci de le corriger avant de valider.
    </div>
  </div>

  <!-- Name input -->
  <div class="row">
    <div class="col-lg-12">
      <div class="form-group" [ngClass]="{'has-error': (saveChecks && saveChecks['name'].length > 0) || (backChecks && backChecks['name'].length > 0 && nameControl.pristine), 'has-success': saveChecks && !(saveChecks['name'].length > 0)}">
        <label class="col-sm-2 control-label">Nom</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" formControlName="name" placeholder="Nom"/>
          <app-core-form-errors *ngIf="saveChecks !== null && backChecks !== null" [controls]="[nameControl]" [frontCheck]="saveChecks['name']" [backCheck]="backChecks['name']"></app-core-form-errors>
        </div>
      </div>
    </div>
  </div>

  <!-- Drop down menu for student selection -->
  <div class="row">
    <div class="col-lg-12">
      <div class="form-group" [ngClass]="{'has-error': (saveChecks && saveChecks['students'].length > 0) || (backChecks && backChecks['students'].length > 0 && studentsControl.pristine), 'has-success': saveChecks && !(saveChecks['students'].length > 0)}">
        <label class="col-sm-2 control-label">Étudiants</label>
        <div class="col-sm-10">
          <ss-multiselect-dropdown *ngIf="students.length > 0" [options]="students" [texts]="studentsSelectTexts" [settings]="selectSettings" formControlName="students"></ss-multiselect-dropdown>
          <p *ngIf="!(students.length > 0)" class="none">
            Aucun étudiant n'est disponible...
          </p>
          <app-core-form-errors *ngIf="saveChecks !== null && backChecks !== null" [controls]="[studentsControl]" [frontCheck]="saveChecks['students']" [backCheck]="backChecks['students']"></app-core-form-errors>
        </div>
      </div>
    </div>
  </div>

  <!-- Drop down menu for lesson selection -->
  <div class="row">
    <div class="col-lg-12">
      <div class="form-group" [ngClass]="{'has-error': (saveChecks && saveChecks['lessons'].length > 0) || (backChecks && backChecks['lessons'].length > 0 && lessonsControl.pristine), 'has-success': saveChecks && !(saveChecks['lessons'].length > 0)}">
        <label class="col-sm-2 control-label">Cours</label>
        <div class="col-sm-10">
          <ss-multiselect-dropdown *ngIf="lessons.length > 0" [options]="lessons" [texts]="lessonsSelectTexts" [settings]="selectSettings" formControlName="lessons"></ss-multiselect-dropdown>
          <p *ngIf="!(lessons.length > 0)" class="none">
            Aucun cours n'est disponible...
          </p>
          <app-core-form-errors *ngIf="saveChecks !== null && backChecks !== null" [controls]="[lessonsControl]" [frontCheck]="saveChecks['lessons']" [backCheck]="backChecks['lessons']"></app-core-form-errors>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <!-- Save button popover's template -->
  <ng-template #savePopover>
    <p *ngFor="let check of formService.checksToArray(saveChecks, saveControls)">
      <strong>{{ check }}</strong> invalide.
    </p>
  </ng-template>

  <!-- Save button -->
  <div class="row">
    <div class="col-lg-12">
      <div *ngIf="!formService.checkEmptyChecks(saveChecks)" class="pull-right" popoverTitle="Impossible d'enregistrer" [popover]="savePopover" container="body" triggers="mouseenter:mouseleave">
        <button type="button" disabled class="btn btn-primary btn-success"><fa name="floppy-o"></fa> {{ group.id ? 'Enregistrer les modifications' : 'Créer ce Groupe' }}</button>
      </div>
      <button *ngIf="formService.checkEmptyChecks(saveChecks)" type="submit" class="btn btn-primary btn-success pull-right"><fa name="floppy-o"></fa> {{ group.id ? 'Enregistrer les modifications' : 'Créer ce Groupe' }}</button>
      <button type="button" class="btn btn-danger pull-right" (click)="cancel()"><fa name="times"></fa> Annuler</button>
    </div>
  </div>

  <pre *ngIf="environment.debug_log">Value: {{ groupForm.value | json }}</pre>
  <pre *ngIf="environment.debug_log">Validation status: {{ groupForm.status }}</pre>

</form>
