//IMPORT
@import '_var.scss';

tabset.correction-sections {

  .section-row{
    border: 1px solid #ddd;
    border-top: none;
    padding: 10px;

    .section-subject{
      border-right: 1px dashed #ddd;
    }
  }


}
