//IMPORT
@import '_var.scss';

#assignment-correction {

  .opinion {
    position: absolute;
    right: -35px;
    top: 0px;

    img {
      width: 50px;
      display:block;
      margin-top: 5px;
      cursor: pointer;

      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);

      &.selected,
      &:hover{
        filter: grayscale(0%);
        -webkit-filter: grayscale(0%);
        -moz-filter: grayscale(0%);
        -ms-filter: grayscale(0%);
        -o-filter: grayscale(0%);
      }
    }
  }

}
