{# app/Resources/views/Emails/registration.html.twig #}
<h3>Bravo, votre brouillon a bien été enregistré !</h3>

<p>Bonjour {{ name }} ! Votre brouillon pour le devoir {{ assignment_name }} a bien été enregistré.</p>

<p>Vous pouvez rendre votre devoir jusqu'au {{ date }}.</p>

<p>Bonne journée.</p>