{# app/Resources/views/Emails/registration.html.twig #}
<h3>Bravo, votre devoir a bien été remis !</h3>

<p>Bonjour {{ name }} ! Votre devoir {{ assignment_name }} a bien été rendu.</p>

<p>Si vous le souhaitez, vous pouvez resoumettre une nouvelle version jusqu'au {{ date }}.</p>

<p>Bonne journée.</p>