{# app/Resources/views/Emails/registration.html.twig #}
<h3>Bravo, votre correction a bien été remise !</h3>

<p>Bonjour {{ name }} ! Votre correction pour le devoir {{ evaluation_name }} a bien été rendue.</p>

<p>Si vous le souhaitez, vous pouvez resoumettre une nouvelle version jusqu'au {{ date }}.</p>

<p>Bonne journée.</p>