<p>Bonjour {{ name }} ! Vous avez demandé à réinitialiser votre mot de passe.</p>

<p>Si vous n'êtes pas à l'origine de cette demande, veuillez ne pas tenir compte de ce message.</p>

<p>Vous pouvez définir une nouveau mot de passe à l'adresse suivante : <a href={{ address }}>{{ address }}</a></p>

<p>Bonne journée.</p>