<div *ngIf="!authService.loggedIn()" id="login" class="container-fluid" [@routerAnimation]>
  <div class="col-md-4 col-md-offset-4">

      <h2 class="text-center">
        Mot de passe oublié ?
      </h2>

      <div [hidden]="error === null" class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        Erreur : {{ error }}
      </div>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Identifiant ou Email" formControlName="username">
        </div>

        <button type="submit" class="btn btn-success pull-right" [disabled]="!loginForm.valid">Réinitialiser mon mot de passe</button>
        <button type="button" class="btn btn-danger pull-right" (click)="cancel()">Annuler</button>
      </form>

    </div>
</div>
